# This is Git's per-user configuration file.
[user]
	name = Daniel Ryan
	email = d@nielryan.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHYJjcTNasp+b9uNqtGum2PgOgXcu0Rx2vD01IZE+n1c
[core]
	excludesfile = /Users/danielryan/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pager]
	branch = false
	tag = false
[alias]
	co = checkout
	b = branch
	c = commit
	s = status
  l = log
  d = diff
  a = add
  p = push
  f = fetch
  m = merge
  pl = pull
  r = rebase
  t = tag
  i = init
  st = stash
	unstage = reset HEAD --
	last = log -1 HEAD
  amend = commit --amend
  uncommit = reset --soft HEAD^
  unstage = reset HEAD --
  unmod = checkout -- .
[pull]
	rebase = false
[push]
	default = simple
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
