[submodule "personal"]
	path = personal
	url = git@github.com:dcryan/.dotfiles-personal.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:dcryan/.dotfiles-nvim.git
[submodule "ssh/.ssh"]
	path = ssh/.ssh
	url = git@github.com:dcryan/.ssh.git
