# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Daniel Ryan
#	email = daniel.c.ryan@icloud.com
[user]
	name = Daniel Ryan
	email = d@nielryan.com
[core]
	excludesfile = /Users/danielryan/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/danielryan/.stCommitMsg
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pager]
	branch = false
	tag = false
[alias]
	co = checkout
	b = branch
	c = commit
	s = status
	unstage = reset HEAD --
	last = log -1 HEAD
[pull]
	rebase = false
[push]
	default = simple
